@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
* h1 {
  font-size: 2.9rem;
  font-family: "PT Sans", sans-serif;
}
@media screen and (max-width: 800px) {
  * h1 {
    font-size: 2rem;
  }
}
* h2 {
  font-size: 2.5rem;
  font-family: "PT Sans", sans-serif;
}
@media screen and (max-width: 800px) {
  * h2 {
    font-size: 1.7rem;
  }
}
* h3 {
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
}
@media screen and (max-width: 800px) {
  * h3 {
    font-size: 1.5rem;
  }
}
* h4 {
  font-size: 1.8rem;
  font-family: "PT Sans", sans-serif;
}
@media screen and (max-width: 800px) {
  * h4 {
    font-size: 1.4rem;
  }
}
* p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}
@media screen and (max-width: 800px) {
  * p {
    font-size: 0.92rem;
  }
}

header {
  background-image: url(./../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color: white;
}
@media screen and (max-width: 600px) {
  header {
    height: 400px;
  }
}
header .head {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  header .head {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  header .head .headUno {
    flex-direction: column;
  }
}
header .head .headUno h1 {
  font-family: "PT Sans", sans-serif;
}
header .head .headUno h1 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
header .head .headUno div {
  margin-top: 40px;
  gap: 20px;
}
header .head .headUno a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 800px) {
  header .head .headUno a {
    font-size: 0.9rem;
  }
}
header .headDos {
  margin-top: 145px;
}
@media screen and (max-width: 600px) {
  header .headDos {
    margin-top: 70px;
  }
}
header .headDos h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
header .headDos p {
  font-size: medium;
}
@media screen and (max-width: 600px) {
  header .headDos p {
    font-size: small;
  }
}

main {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  main {
    width: 95%;
  }
}
main .col-xl-7 h3,
main .col-xl-7 h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: black;
}
@media screen and (max-width: 800px) {
  main .col-xl-7 h3 {
    text-align: center;
  }
}
main .col-xl-7 .blog {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 40px;
}
@media screen and (max-width: 600px) {
  main .col-xl-7 .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  main .col-xl-7 .blog img {
    height: 200px;
    width: 300px;
  }
}
main .col-xl-7 .blog a {
  background-color: black;
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  padding: 17px 29px;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  main .col-xl-7 .blog a {
    font-size: 1rem;
  }
}
main .col-xl-7 .blog a:hover {
  color: white;
  text-decoration: none;
}
main .col-xl-5 h3,
main .col-xl-5 h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: black;
}
@media screen and (max-width: 1200px) {
  main .col-xl-5 h3,
  main .col-xl-5 h4 {
    text-align: center;
  }
}
main .col-xl-5 ol li {
  border-bottom: 1px solid #e1e1e1;
  max-width: 370px;
}
@media screen and (max-width: 1200px) {
  main .col-xl-5 ol li {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .col-xl-5 ol li p {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
main .col-xl-5 ol li p span {
  font-weight: normal;
}
main .col-xl-5 ol li a {
  color: white;
  background-color: #784D3C;
  text-decoration: none;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

footer {
  background-color: black;
}
footer .foot {
  width: 70%;
  margin: 0 auto;
  color: white;
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  footer .foot {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  footer .foot nav {
    flex-direction: column;
  }
}
footer .foot nav h1 {
  font-family: "PT Sans", sans-serif;
}
footer .foot nav h1 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
footer .foot nav div {
  margin-top: 40px;
  gap: 20px;
}
footer .foot nav a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 800px) {
  footer .foot nav a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1200px) {
  #nosotros div {
    display: flex;
    align-items: center;
    flex-direction: column !important;
    margin-bottom: 10px;
  }
}
#nosotros div img {
  height: 390px;
  width: 580px;
}
@media screen and (max-width: 1200px) {
  #nosotros div img {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  #nosotros div img {
    height: 200px;
    width: 300px;
  }
}

#contacto {
  height: 900px;
}
#contacto .bg {
  background-image: url(./../img/contacto.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 600px) {
  #contacto .bg {
    height: 300px;
  }
}
#contacto form {
  width: 65%;
  position: absolute;
  top: 1050px;
  background-color: white;
}
@media screen and (max-width: 600px) {
  #contacto form {
    top: 690px;
    width: 90%;
  }
}
#contacto form div {
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  #contacto form div {
    gap: 30px;
  }
}
@media screen and (max-width: 600px) {
  #contacto form div {
    gap: 40px;
  }
}
#contacto form div label {
  width: 7%;
}
@media screen and (max-width: 1200px) {
  #contacto form div label {
    width: 12%;
  }
}
@media screen and (max-width: 600px) {
  #contacto form div label {
    width: 20%;
  }
}
#contacto form div input, #contacto form div textarea {
  width: 93%;
}
@media screen and (max-width: 1200px) {
  #contacto form div input, #contacto form div textarea {
    width: 88%;
  }
}
@media screen and (max-width: 600px) {
  #contacto form div input, #contacto form div textarea {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  #contacto form .sub {
    display: flex;
    justify-content: center;
  }
}
#contacto form .sub .submit {
  background-color: black;
  color: white;
  font-family: "PT Sans", sans-serif;
  padding: 5px 33px;
  width: 150px;
}

#cursos .row {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
}
#cursos .row img {
  height: 400px;
  width: 500px;
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  #cursos .row img {
    height: 200px;
    width: 300px;
  }
}

#entrada img {
  height: 500px;
  width: 800px;
}
@media screen and (max-width: 1200px) {
  #entrada img {
    height: 400px;
    width: 600px;
  }
}
@media screen and (max-width: 800px) {
  #entrada img {
    height: 380px;
    width: 540px;
  }
}
@media screen and (max-width: 600px) {
  #entrada img {
    height: 270px;
    width: 315px;
  }
}/*# sourceMappingURL=estilos.css.map */