@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
* h1 {
  font-size: 2.9rem;
  font-family: "PT Sans", sans-serif;
}
* h2 {
  font-size: 2.5rem;
  font-family: "PT Sans", sans-serif;
}
* h3 {
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
}
* h4 {
  font-size: 1.8rem;
  font-family: "PT Sans", sans-serif;
}
* p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}

header {
  background-image: url(../../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color: white;
}
header .head {
  width: 1200px;
  margin: 0 auto;
}
header .head .headUno h1 {
  font-family: "PT Sans", sans-serif;
}
header .head .headUno h1 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
header .head .headUno div {
  margin-top: 40px;
  gap: 20px;
}
header .head .headUno a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
header .headDos {
  margin-top: 145px;
}
header .headDos h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
header .headDos p {
  font-size: medium;
}

main {
  width: 1200px;
  margin: 0 auto;
}
main .col-7 h3,
main .col-7 h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: black;
}
main .col-7 .blog {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 40px;
}
main .col-7 .blog a {
  background-color: black;
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  padding: 17px 29px;
  text-decoration: none;
}
main .col-7 .blog a:hover {
  color: white;
  text-decoration: none;
}
main .col-5 h3,
main .col-5 h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: black;
}
main .col-5 ol li {
  border-bottom: 1px solid #e1e1e1;
  max-width: 370px;
}
main .col-5 ol li p {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: black !important;
}
main .col-5 ol li p span {
  font-weight: normal;
}
main .col-5 ol li a {
  color: white;
  background-color: #784D3C;
  text-decoration: none;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

footer {
  background-color: black;
}
footer .foot {
  width: 1200px;
  margin: 0 auto;
  color: white;
  padding-bottom: 20px;
}
footer .foot h1 {
  font-family: "PT Sans", sans-serif;
}
footer .foot h1 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
footer .foot div {
  margin-top: 40px;
  gap: 20px;
}
footer .foot a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

#nosotros {
  width: 1200px;
}
#nosotros img {
  height: 390px;
  width: 580px;
}

#contacto {
  height: 100vh;
  margin-bottom: 150px;
}
#contacto .bg {
  background-image: url(../../img/contacto.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#contacto form {
  width: 65%;
  position: absolute;
  top: 1050px;
  background-color: white;
}
#contacto form div {
  gap: 20px;
}
#contacto form div label {
  width: 7%;
}
#contacto form div input, #contacto form div textarea {
  width: 93%;
}
#contacto form .submit {
  background-color: black;
  color: white;
  font-family: "PT Sans", sans-serif;
  padding: 5px 33px;
}/*# sourceMappingURL=estilos.css.map */