#entrada{
    & img{
        height: 500px;
        width: 800px;
        @include large{
            height: 400px;
            width: 600px;
        }
        @include media{
            height: 380px;
            width: 540px;
        }
        @include small{
            height: 270px;
            width: 315px;
        }
    }
}