header {
    background-image: url(../../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
    @include small{height: 400px;}
    & .head {
        width: 70%;
        margin: 0 auto;  
        @include small{
            width: 95%;
        }

        & .headUno {
            @include small{
                flex-direction: column;
            }
            
            & h1 {
                font-family: $fontDos;

                & span {
                    font-family: $fontUno;
                    font-weight: 700;
                }
            }

            & div {
                margin-top: 40px;
                gap: 20px;
            }

            & a {
                font-size: 1.1rem;
                text-decoration: none;
                color: white;

                @include media{
                    font-size: 0.9rem;
                }
            }
        }
    }

    & .headDos {
        margin-top: 145px;
        @include small{
            margin-top: 70px;
        }

        & h2 {
            font-family: $fontDos;
            font-weight: bold;
        }

        & p {
            font-size: medium;
            @include small{
                font-size: small;
            }
        }
    }
}