main {
    width: 1200px;
    margin: 0 auto;

    .col-7 {

        & h3,
        h4 {
            font-family: $fontDos;
            font-weight: bold;
            color: black;
        }

        .blog {
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 40px;

            & a {
                background-color: black;
                color: white;
                font-size: large;
                font-weight: bold;
                font-family: $fontDos;
                padding: 17px 29px;
                text-decoration: none;
            }

            & a:hover {
                color: white;
                text-decoration: none;
            }

        }




    }

    .col-5 {

        & h3,
        h4 {
            font-family: $fontDos;
            font-weight: bold;
            color: black;
        }

        & ol {

            & li {
                border-bottom: 1px solid #e1e1e1;
                max-width: 370px;

                & p {

                    font-family: $fontDos;
                    font-weight: 700;
                    font-size: 1.2rem;
                    color: black !important;

                    & span {
                        font-weight: normal;
                    }
                }

                & a {
                    color: white;
                    background-color: #784D3C;
                    text-decoration: none;
                    font-weight: bold;
                    font-family: $fontDos;
                    
                }
            }

        }

    }

}